{% extends "base.html" %}
{% block extra_title %} About {% endblock %}
{% block extracss %}
{% endblock %}
{% block extra_header%}
    <div class="row border-bottom border-danger">
        <div class="col-12 mt-2 text-center">
            <h2>About</h2>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Begining</h3>
                <p> The Pérola group began its business project in 1996 with the creation of Bodegas Fernández de Piérola in the DOCa Rioja, the easternmost part of the Alavesa sub-zone.</p>
            </div>
        </div>
         <div class="row">
            <div class="col-12">
                <h3>Values</h3>
                <p>  The Group's wines stand out for the balance between the traditional values ​​of land and variety,as well as the most advanced technologies of modern oenology.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>Thinking to nature</h3>
                <p> Grupo Piérola is also committed to sustainable development, so the new TRASLASCUESTAS winery has been conceived as an eco-efficient building that respects the environment, which manages to reach 100% of its thermal requirements thanks to geothermal energy, positioning itself as a winery pioneer in its application in the Denomination of Origin Ribera de Duero.</p>
            </div>
        </div>
    </div>
{% endblock %}
