{% extends "base.html" %}
{% block extra_title %} Contact {% endblock %}
{% block extracss %}
{% endblock %}
{% block extra_header%}
    <div class="row border-bottom border-danger">
        <div class="col-12 mt-2 text-center">
            <h2>Contact</h2>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>You can find us at:</h4>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-2 col-lg-2">
                Email
            </div>
            <div class="col-10 col-lg-3 text-right">
                <strong>grupo.pierola.ro@gmail.com</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-lg-2">
                Phone Number
            </div>
            <div class="col-6 col-lg-3 text-right">
                <strong>+44753545657</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-lg-5">
                <span>Address details</span>
                <div class="row">
                    <div class="col-6">
                        <small class="text-muted">Street</small>
                    </div>
                    <div class="col-6 text-right">
                        <small >392 Grasmere Street</small>
                    </div>
                    <div class="col-6">
                        <small class="text-muted">County</small>
                    </div>
                    <div class="col-6 text-right">
                        <small>Leicestershire</small>
                    </div>
                    <div class="col-6">
                        <small class="text-muted">Postal code</small>
                    </div>
                    <div class="col-6 text-right">
                        <small >LE27DB</small>
                    </div>
                     <div class="col-6">
                        <small class="text-muted">Country</small>
                    </div>
                    <div class="col-6 text-right">
                        <small >United Kingdom</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
