{% extends "base.html" %}
{% load static %}

{% block extra_title %} Products {% endblock %}
{% block extracss%}
    <link rel="stylesheet" type="text/css" href="{% static 'products/css/wines.css' %}">
{% endblock %}
{% block extra_header%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="col-auto mt-2 text-center">
                    <h2>Wines</h2>
                </div>
            </div>
            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <a href="{% url 'products' %}" class="btn bg-dark text-white btn-white input-group-text rounded-0 border-danger" id="inputGroup-sizing-default">Wines</a>
                    </div>
                    <select id="color-selector" class="custom-select rounded-0 border-danger d-none d-md-block">
                        {% if color_search == None %}
                            <option value="None" selected >All Colors</option>
                        {% else %}
                            <option value="None">All Colors</option>
                        {% endif %}
                        {% for color in colors %}
                            {% if color_search == color.name %}
                                <option value="{{color.name}}" selected>{{color.name}}</option>
                            {% else %}
                            <option value="{{color.name}}">{{color.name}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>

                    <select id="region-selector" class="custom-select rounded-0 border-danger d-none d-md-block">
                        {% if region_search == None %}
                            <option value="None" selected >All Regions</option>
                        {% else %}
                            <option value="None">All Regions</option>
                        {% endif %}
                        {% for region in regions %}
                            {% if region_search == region.name %}
                                <option value="{{region.name}}" selected>{{region.name}}</option>
                            {% else %}
                                <option value="{{region.name}}">{{region.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <select id="grape-selector" class="custom-select  rounded-0 border-danger d-none d-md-block">
                        {% if grape_search == None %}
                            <option value="None" selected >All Grapes</option>
                        {% else %}
                            <option value="None">All Grapes</option>
                        {% endif %}
                        {% for grape in grapes %}
                            {% if grape_search == grape.name %}
                            <option value="{{grape.name}}" selected>{{grape.name}}</option>
                            {% else %}
                            <option value="{{grape.name}}">{{grape.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <select id="other-selector" class="custom-select  rounded-0 border-danger ">
                        {% if sort == "price" %}
                            {% if direction == "asc" %}
                            <option value="price_asc" selected>Price (low to high)</option>
                            {% else %}
                            <option value="price_desc" selected>Price (high to low)</option>
                             {% endif %}
                        {% elif sort ==  "rating" %}
                            {% if direction == "asc" %}
                            <option value="rating_asc" selected>Rating (high to low)</option>
                            {% else %}
                            <option value="rating_desc" selected>Rating (high to low)</option>
                            {% endif %}
                        {% else  %}
                            <option value="None" selected>Sort by None</option>
                        {% endif %}

                        <option value="None">Sort by None</option>
                        <option value="price_asc" >Price (low to high)</option>
                        <option value="price_desc">Price (high to low)</option>
                        <option value="rating_asc">Rating (low to high)</option>
                        <option value="rating_desc">Rating (high to low)</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-danger rounded-0" id="sort-button">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for product in products %}
            <div class="col-sm-12 col-md-6 col-lg-3" >
                <div class="card rounded-0 border-0 h-100" style="width: 18rem height: 7rem;">
                    <a class="mx-auto" href="{% url 'product_details' product.id %}">
                        {% if product.image %}
                            <img  src="{{MEDIA_URL}}{{product.image}}" class="card-img-top" style="height:15rem; width:5rem;" alt="{{product.name}}">
                        {% else %}
                            <img  src="{{MEDIA_URL}}no_image.jpg" class="card-img-top img-fluid" style="max-height:15rem; max-width:15rem;" alt="{{product.name}}">
                        {% endif %}
                    </a>
                    <div class="card-body bg-bordeaux">
                        <div class="row">
                            <div class="col-12">
                                <a class="text-reset text-decoration-none" href="{% url 'product_details' product.id %}">
                                    <h5 class="card-title text-truncate text-center "><strong>{{product.name}}</strong></h5>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row small">
                                    <div class="col-6">
                                        Grape Variety
                                    </div>
                                    <div class="col-6 text-right text-truncate">
                                        <a class=" text-reset text-decoration-none" href="{% url 'products' %}?grape={{product.grape_variety.name}}">
                                            <strong>{{product.grape_variety.name}}</strong>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row small">
                                    <div class="col-6 ">
                                        Region
                                    </div>
                                    <div class="col-6 text-right ">
                                        <a class="text-reset text-decoration-none" href="{% url 'products' %}?region={{product.region.name}}">
                                            <strong>{{product.region.name}}</strong>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row small">
                                    <div class="col-6">
                                        Price
                                    </div>
                                    <div class="col-6 text-right ">
                                        <strong> {{product.price}} GBP </strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="row small">
                                    <div class="col-6 ">
                                        Rating
                                    </div>
                                    <div class="col-6 text-right ">
                                        {% if product.rating %}
                                            <strong> {{product.rating}} </strong>
                                        {% else %}
                                            <strong>Not yet</strong>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <form method="POST" action="{% url 'add_to_bag' product.id %}">
                                    {% csrf_token %}
                                    <div class="form-row mb-1">
                                        <div class="col-6">
                                            Size
                                        </div>
                                        <div class="col-6 ">
                                            <select class="form-control form-control-sm" name="item_size">
                                                {% with product.size.all as sizes %}
                                                    {% for size in sizes %}
                                                        <option value="{{size}}">{{ size }}</option>
                                                    {% endfor %}
                                                {% endwith %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row mb-1">
                                        <div class="col-6">
                                            Quantity
                                        </div>
                                        <div class="col-6 input-group input-group-sm">
                                            <div class="input-group-preppend">
                                                <button class="decrement-qty btn btn-dark rounded-0 btn-sm" 
                                                    data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                        <i class="fas fa-minus"></i>
                                                </button>
                                            </div>
                                            <input class="form-control qty-input" type="number" value="1" min="1" max="{{product.quantity_available}}"                   name="quantity" data_item-id="{{product.id}}" id="id_qty_{{product.id}}">
                                            <div class="input-group-append mr-1">
                                                <button class="increment-qty btn btn-dark rounded-0 btn-sm" 
                                                    data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>                                                  
                                        </div>
                                    </div>
                                    <div class="form-row mb-1">
                                        <div class="col-12">
                                            <input type="submit" class="btn btn-danger rounded-0 w-100" value="Add to Bag">
                                        </div>
                                    </div>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </form>
                            </div>
                        </div>
                        {% if user.is_superuser %}
                            <div class="row small">
                                <div class="col-12">
                                    <div class="row text-center">
                                        <div class="col-6">
                                            <a class="btn btn-outline-light rounded-0 btn-sm w-100" href="{% url 'edit_product' product.id %}">Edit</a>
                                        </div>
                                         <div class="col-6">
                                            <a class="btn btn-outline-warning rounded-0 btn-sm w-100" href="{% url 'delete_product' product.id %}">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {%endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="btn shadow-sm rounded-0 border border-black">
            <a class="btt-link d-flex h-100 mx-auto">
                <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
            </a>	
    </div>
</div>
{% endblock %}
{% block postloadjs %}
    {{block.super}}
    {% include 'products/includes/quantity_input_script.html' %}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
<script type="text/javascript">
    $('#sort-button').click(function(e){
        var color_selector = $('#color-selector');
        var region_selector = $('#region-selector');
        var grape_selector = $('#grape-selector');
        var other_selector = $('#other-selector');
        var currentURL = new URL(window.location);
        var selectedColor = color_selector.val();
        var selectedRegion = region_selector.val();
        var seletedGrape = grape_selector.val();
        var selectedOther = other_selector.val();
        if (selectedColor!="None"){
            currentURL.searchParams.set("color",selectedColor);
        }else{
            currentURL.searchParams.delete("color");
        }
        if (selectedRegion!="None"){
            currentURL.searchParams.set("region",selectedRegion);
        }else{
            currentURL.searchParams.delete("region");
        }
        if (seletedGrape!="None"){
            currentURL.searchParams.set("grape",seletedGrape);
        }else{
            currentURL.searchParams.delete("grape");
        }
        if (selectedOther!='None'){
            var sort = selectedOther.split("_")[0];
            var direction = selectedOther.split("_")[1];
            currentURL.searchParams.set("sort",sort);
            currentURL.searchParams.set("direction",direction);
        }else{
            currentURL.searchParams.delete("sort");
            currentURL.searchParams.delete("direction");
        }
        window.location.replace(currentURL);
    });
</script>
{% endblock %}